@{
    ViewBag.Title = "Home Page";
}


<div id="chart" style="width: 600px;" align="center"></div>

<div dir="ltr" align="center">
    <fieldset>
        <legend>تغییر نوع نمودار در زمان اجرا</legend>
        <input type="radio" name="rdShowApproach" onclick="changeChartType('bar')" />bar
        <input type="radio" name="rdShowApproach" onclick="changeChartType('pie')"/>pie
        <input type="radio" name="rdShowApproach" checked="checked" onclick=" changeChartType('column')"/>column
        <input type="radio" name="rdShowApproach" onclick="changeChartType('donut')"/>donut
        <input type="radio" name="rdShowApproach" onclick="changeChartType('line')"/>line
        <input type="radio" name="rdShowApproach" onclick="changeChartType('waterfall')"/>waterfall
        <input type="radio" name="rdShowApproach" onclick="changeChartType('funnel')"/>funnel
        <br />
        <button onclick="doExport()" class="k-button">تهیه خروجی</button>
    </fieldset>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#chart').ShowChart({
            url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "products" })",
            legendPosition: "bottom",
            seriesType: "column",
            text: "نمودار",
            categoryAxisLabelsRotation: -45,
            font: '16px Iranian Sans'
        });

        function changeChartType(type) {
            var chart = $("#chart").data("kendoChart");
            chart.options.series[0].type = type;
            chart.refresh();
        }


        kendo.pdf.defineFont({
            /*"Verdana": "/fonts/Verdana.ttf", // this is a URL
            "Verdana|Bold": "/fonts/Verdana_Bold.ttf",
            "Verdana|Bold|Italic": "/fonts/Verdana_Bold_Italic.ttf",
            "Verdana|Italic": "/fonts/Verdana_Italic.ttf"*/
            "Iranian Sans":"/fonts/irsans.ttf"
        });

        function doExport() {
            var chart = $("#chart").data("kendoChart");

            chart.saveAsPDF(); // it needs version 2014.3.1119 +
            // or
            chart.exportImage().done(function (data) {
                kendo.saveAs({
                    dataURI: chart.imageDataURL(),
                    fileName: "chart.png"
                });
            });
        }
    </script>
}